<div class="px-4 py-2 rounded-2xl w-full border-2 shadow-sm mb-2 flex flex-wrap">
        <div class="flex items-center">
            <input type="radio" name="radio-2" class="radio size-6" (click)="updateStatusTask(task().id)">
            <span class="ml-2" [ngClass]="{'line-through': task().state == 'Finalizado'}">{{task().description}}</span>
        </div>
        <div class="grow"></div>
        <div class="flex items-center">
            <span class="rounded-full size-4 shadow-lg" 
                [ngClass]="{'bg-gray-500': task().state =='Pendiente',
                            'bg-green-300': task().state =='Finalizado'
                }">
            </span>
            <span class="ml-2" 
                [ngClass]="{'text-gray-500': task().state =='Pendiente',
                            'text-green-500': task().state =='Finalizado'}">
                {{task().state}}
            </span>
            <span class="ml-4 text-red-400 justify-self-end" (click)="deleteTask(task().id)">
                <mat-icon>
                    delete
                </mat-icon>
            </span>
        </div>
</div>

