<div class="navbar background-nav text-white">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <mat-icon>
            menu
          </mat-icon>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a>Homepage</a></li>
          <li><a>Portfolio</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost text-3xl bad-script-regular">
        <span class="text-4xl w-auto h-auto inline-flex material-symbols-outlined">
          emoji_objects
        </span>
        FocusList
      </a>
    </div>
    <div class="navbar-end">
      <button class="btn btn-ghost bg-gradient-to-r from-purple-400 to-pink-400">
        <mat-icon>
          person
        </mat-icon>
        Iniciar sesión
      </button>
    </div>
  </div>