<div class="px-12 py-8">
    <h1 class="text-3xl">Hoy</h1>
    <hr/>
    <div class="my-4 w-full background-pomodoro">
        <div class="background-shadow w-full h-full py-4 flex items-center justify-center">
            <app-pomodoro></app-pomodoro>
        </div>
    </div>
    <div class="my-8">
        <app-add-task></app-add-task>
    </div>
    <div class="mt-4">
        @for(task of taskListToday; track task.id){
            <app-task-item [task]="task"></app-task-item>
        }
    </div>
</div>